h1 {
    font-size: 48px;   
}
body{
    background-color: oldlace;
    text-align: center;
    font-family: fantasy;
}
form, div{
    padding:15px;
}
input{
    width: 120px;
    height: 30px;
    font-size: 18px;
    text-align: center
}
button{
    width: 120px;
    height: 30px;
    font-size: 18px;
}
    
#display_value, #display_message{
    text-emphasis: bold;
    font-size: 30px
}
img{
    width: 500px;
    height: 250px;
}